@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --Linear-gradient-active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --Red-input-errors: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --height-card: 245px;
    --width-card: 447px;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

@media  (max-width: 1200px) {
    
}

@media  (max-width: 992px) {
    
}

@media  (max-width: 768px) {
    #root {
        width: 100%;
    }
}

@media  (max-width: 576px) {
}